<div class="container">
    <h1 class="page-header"><a href="https://hirelofty.com/blog/">The Machines Are Still Subserviant</a></h1>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>My Contributions our Lofty Blog</h2>
                <ul>
                    <li>
                        <a href="https://hirelofty.com/blog/how-build-custom-command-line-tool-interact-api/">
                            A Custom CLI Tool To Interact With An API
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
